@import 'Variables';
@import 'Components/header';
@import 'Components/mainContent';
@import 'Components/profileStatus';
@import 'Components/sidebarRight';


*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    text-decoration: none; list-style: none;
}


body, html{
    min-width: 100%;
    min-height: 100vh;
}

body{
    background: $blue-light;

}



.active_navitem{
    color: $pink !important;
}




h1, h2, h3, h4, p, span{
    color: $dark-light;
}

