@import '../Variables';


.header{
    display: flex;
    padding: 1rem;
    background-color: $white;
    .container{
        width: 70rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .content-header_left{
            display: flex;
            gap: 2rem;
            img{
                height: 32px;
            }
            .navbar{
                display: flex;
                align-items: center;
                ul{
                    gap: 1rem;
                    display: inline-flex;
                    & li a{
                        color: $dark-light;
                    }
                }
            }
        }
        .content-header_right{
            display: flex;
            margin-left: 3rem;
            gap: 3rem;
            align-items: center;
            form{
                display: flex;
                align-items: center;
                position: relative;
                overflow: hidden;
                border-radius: 6px;
                input{
                    background-color: #EFF3F8;
                    border: none;
                    padding: 0 3rem;
                    height: 46px;
                    outline: none;
                    width: 355px;
                    font-weight: bold;
                }
                .header-right_icon_search{
                    position: absolute;
                    z-index: 1;
                    left: 15px;
                    top: 11px;
                    cursor: pointer;
                    opacity: .5;
                }
            }
            .profile{
                border-radius: 12px;
                align-items: center;
                display: flex;
                gap: 1rem;
                img:nth-child(1){
                    height: 40px;
                    border-radius: 50%;
                }
                img:nth-child(3){
                    cursor: pointer;
                }
                p{
                    font-size: .9rem;
                }
            }
        }

    }
    
}