@import '../Variables';


.sidebar_friends{
    background-color: $white;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    a{
        color: $pink;
        font-size: .875rem;
        &:hover{
            text-decoration: underline;
        }
    }
}